
<h1 style="color: aliceblue;">Componente de Match Info</h1>
<h2 style="color: hotpink;">Soy la info del Match</h2>

<p style="color: antiquewhite;" [style.display]="
  matchSelected ? 'block' : 'none'">Seleccionado: {{matchSelected}}</p>
<app-match-info [match]="matches[0]" (selected)="onSelected($event)"></app-match-info> <!--Referencia a otro componente le paso parte del arreglo en mi ts-->
<app-match-info [match]="matches[1]" (selected)="onSelected($event)"></app-match-info>
<app-match-info [match]="matches[2]" (selected)="onSelected($event)"></app-match-info>