
<h1 style="color: aliceblue;">Componente de Match Info</h1>
<h2 style="color: hotpink;">Soy la info del Match</h2>

<!--Uso del ngIf con else-->
<!--Uso de ngStyle-->
<!--Uso de ngModel-->
<!--Uso de PIPES-->
@if(matchSelected) {
  <p style="text-align: center;" [ngStyle]="{color:'antiquewhite'}">
    Seleccionado: {{matchSelected.local + ' vs ' + matchSelected.visitante | uppercase}}
  </p>
  <div class="infoModified">
    <h3 [ngStyle]="{color:'antiquewhite'}">Modificar Partido</h3>
    <input type="text" [(ngModel)]="matchSelected.local" required>
    <input type="text" [(ngModel)]="matchSelected.resultlocal" required>
      <span style="color: aliceblue;">VS</span>
    <input type="text" [(ngModel)]="matchSelected.resultvisit" required>
    <input type="text" [(ngModel)]="matchSelected.visitante" required>
  </div>
  
} @else {
  <p [ngStyle]="{color:'antiquewhite'}">
    No hay match seleccionado
  </p>
}

<!--Nuevo Uso de ngFor-->
<!--Uso de ngClass(mirar css)-->
@for(match of matches; track match; let index=$index) {
  <app-match-info 
    [ngClass]="{'title': index>=0}"
    [index]="index"
    [local]="match.local"
    [visitante]="match.visitante"
    [date]="match.date"
    [resultlocal]="match.resultlocal"
    [resultvisit]="match.resultvisit"
    (selected)="onSelected($event)">
  </app-match-info>
}

<button (click)="onDeleteLastMatch()">Eliminar Ultimo Partido</button>

<!--Uso de PIPES-->
<p [ngStyle]="{color:'orange'}">Mi Fecha {{fecha|date}}</p>
<!--ngSwitch-->
<!--Directivas personalizadas-->

<app-match-form (onSavedMatch)="addNewMatch($event)" ></app-match-form>
