h4{
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

p{
    width: 50%;
}

.textohora{
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.textohora #hora{
    text-align: right;
    justify-content: flex-end;
}

.funcionalidades{
    text-align: center;
}